						<li data-label='{{ page.label }}' {% if page.child_items %} 
							class="dropdown dropdown-full-color dropdown-secondary"
							{% else %}
							class="dropdown-full-color dropdown-secondary"
							{% endif %}>
							<a {% if not page.child_items -%} class="nav-link {% if (page.url or '')|abs_url == '/'+path %} active{% endif %}" href="{{ (page.url or '')|abs_url }}" {%- endif %}
								{% if page.child_items %} class="nav-link dropdown-toggle" class="dropdown-toggle" onclick="return false;" {% endif %}
								{{ page.target or ''}}>
							{{ _(page.label) }}
							</a>
							{%- if page.child_items -%}
								<ul class="dropdown-menu" role="menu">
								{%- for child in page.child_items -%}
									<li data-label='{{ child.label }}'>
										<a class="dropdown-item" href="{{ child.url | abs_url }}" {{ child.target or '' }}>{{ _(child.label) }}</a>
									</li>
								{%- endfor -%}
								</ul>
							{%- endif -%}
						</li>