{% if slideshow %}
{% if slides %}
<div class="slider-container rev_slider_wrapper" style="height: 650px;">
	<div id="revolutionSlider" class="slider rev_slider" data-version="5.4.8" data-plugin-revolution-slider data-plugin-options="{'delay': 9000, 'gridwidth': 1170, 'gridheight': 650, 'disableProgressBar': 'on', 'navigation': {'bullets': {'enable': true, 'direction': 'vertical', 'h_align': 'right', 'v_align': 'center', 'space': 5}, 'arrows': {'enable': false}}}">
		<ul>
		{% for slide in slides %}
			<li data-transition="fade">
				<img src="{{ slide.image }}"  
					alt=""
					data-bgposition="center center" 
					data-bgfit="cover" 
					data-bgrepeat="no-repeat"
					class="rev-slidebg">
				{% if slide.heading and slide.description %}
					{% if slide.set_position == "Left" %}
					<h3 class="tp-caption font-weight-extra-bold text-color-light line ws-normal"
						data-frames='[{"delay":1500,"speed":400,"frame":"0","from":"opacity:0;x:50%;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
						data-x="['left','left','left','center']" data-hoffset="['145','145','0','0']"
						data-y="center" data-voffset="['-85','-85','-85','-85']"
						data-width="['500','500','500','500']"
						data-fontsize="['48','48','48','48']"
						data-lineheight="['55','55','55','55']"
						data-textAlign="['left','left','left','center']">{{ _(slide.heading) }}</h3>


					<div class="tp-caption font-weight-light text-color-light opacity-7 ws-normal font-weight-bold"
						data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2300,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
						data-x="['left','left','left','center']" data-hoffset="['145','145','0','0']"
						data-y="center" data-voffset="['0','0','0','0']"
						data-width="['900','900','900','900']"
						data-fontsize="['18','18','18','22']"
						data-lineheight="['26','26','26','26']"
						data-textAlign="['left','left','left','center']">{{ _(slide.description) }}</div>
						{% if slide.link_tilte and slide.link_path %}
						<a class="tp-caption d-inline-flex align-items-center btn btn-primary text-color-dark font-weight-bold rounded"
							href="{{ slide.link_path }}" {{ slide.link_target or '' }}
							data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"y:50%;opacity:0;","to":"y:0;o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-x="['left','left','left','center']" data-hoffset="['145','145','0','0']"
							data-y="center" data-voffset="['65','65','65','65']"
							data-paddingtop="['16','16','16','24']"
							data-paddingbottom="['16','16','16','24']"
							data-paddingleft="['30','30','30','30']"
							data-paddingright="['15','15','15','15']"
							data-fontsize="['13','13','13','18']"
							data-lineheight="['20','20','20','22']">{{ _(slide.link_tilte) }} <i class="fas fa-arrow-right ml-4 pl-1 mr-2 text-4"></i></a>
						{% endif %}
					{% elif slide.set_position == "Right" %}
						<h2 class="tp-caption font-weight-extra-bold text-color-light line ws-normal"
							data-frames='[{"delay":1500,"speed":400,"frame":"0","from":"opacity:0;x:50%;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-x="['right','right','right','center']" data-hoffset="['145','145','0','0']"
							data-y="center" data-voffset="['-85','-85','-85','-85']"
							data-width="['500','500','500','500']"
							data-fontsize="['48','48','48','48']"
							data-lineheight="['55','55','55','55']"
							data-textAlign="['left','left','left','center']">{{ _(slide.heading) }}</h2>

						<div class="tp-caption font-weight-light text-color-light opacity-7 font-weight-bold ws-normal"
							data-frames='[{"from":"opacity:0;","speed":300,"to":"o:1;","delay":2300,"split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
							data-x="['right','right','right','center']" data-hoffset="['145','145','0','0']"
							data-y="center" data-voffset="['0','0','0','0']"
							data-width="['500','500','500','500']"
							data-fontsize="['18','18','18','22']"
							data-lineheight="['26','26','26','26']"
							data-textAlign="['left','left','left','center']">{{ _(slide.description) }}</div>
						{% if slide.link_tilte and slide.link_path %}
							<a class="tp-caption d-inline-flex align-items-center btn btn-primary font-weight-bold rounded"
								href="{{ slide.link_path }}" {{ slide.link_target or '' }}
								data-frames='[{"delay":3000,"speed":2000,"frame":"0","from":"y:50%;opacity:0;","to":"y:0;o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								data-x="center" data-hoffset="['170','170','70','0']"
								data-y="center" data-voffset="['65','65','65','65']"
								data-paddingtop="['16','16','16','24']"
								data-paddingbottom="['16','16','16','24']"
								data-paddingleft="['30','30','30','30']"
								data-paddingright="['15','15','15','15']"
								data-fontsize="['13','13','13','18']"
								data-lineheight="['20','20','20','22']">{{ _(slide.link_tilte) }} <i class="fas fa-arrow-right ml-4 pl-1 mr-2 text-4"></i></a>
						{% endif %}
					{% elif slide.set_position == "Center" %}
						<div class="tp-caption font-weight-extra-bold text-color-light text-center ws-normal"
							data-frames='[{"delay":1000,"speed":2000,"frame":"0","from":"sX:1.5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-x="center"
							data-y="center" data-voffset="['-60','-60','-60','-85']"
							data-width="['400','400','400','750']"
							data-fontsize="['42','42','42','75']"
							data-lineheight="['55','55','55','95']"
							data-letterspacing="0">{{ _(slide.heading) }}</div>

						<div class="tp-caption font-weight-light text-color-light text-center ws-normal"
							data-frames='[{"from":"opacity:0;","speed":300,"to":"o:0.8;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
							data-x="center"
							data-y="center" data-voffset="['25','25','25','70']"
							data-width="['400','400','400','600']"
							data-fontsize="['18','18','18','50']"
							data-lineheight="['29','29','29','75']">{{ _(slide.description) }}</div>
						{% if slide.link_tilte and slide.link_path %}
						<a class="tp-caption btn btn btn-gradient font-weight-semibold text-color-light"
							data-frames='[{"delay":3500,"speed":2000,"frame":"0","from":"opacity:0;y:50%;","to":"o:1;y:0;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
							data-hash
							data-hash-offset="85"
							href="{{ slide.link_path }}" {{ slide.link_target or '' }}
							data-x="center"
							data-y="center" data-voffset="['90','90','90','225']"
							data-whitespace="nowrap"	
							data-fontsize="['12','12','12','30']"	
							data-paddingtop="['18','18','18','40']"
							data-paddingright="['35','35','35','80']"
							data-paddingbottom="['18','18','18','40']"			 
							data-paddingleft="['35','35','35','80']"
							data-lineheight="['20','20','20','22']">{{ _(slide.link_tilte) }} <i class="fas fa-arrow-right ml-3"></i></a>
						{% endif %}
					{% elif slide.set_position == "Down" %}
						<div class="tp-caption ws-normal px-3 px-sm-0" data-frames='[{"from":"opacity:0;","speed":300,"to":"o:0.8;","delay":2000,"split":"chars","splitdelay":0.04,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
							data-x="0" data-hoffset="['0','0','0','20']"
							data-y="bottom" data-voffset="['50','50','50','50']"
							data-start="1000"
							data-width="['1110','930','690','500']"
							style="z-index: 5;">
								<span class="badge badge-dark bg-color-primary badge-sm text-uppercase">Wiser Care</span>
								<h2 class="text-light text-9 font-weight-bold mb-2">{{ _(slide.heading) }}</h2>
								<p class="text-light opacity-6 text-4">{{ _(slide.description) }}</p>
						</div>
					{% endif %}
				{% endif %}
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
{% endif %}