{% if agent_sidebar_item %}
<div class="col-lg-3 mt-0">
	<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
		{% include "templates/includes/products_search_form.html" %}
		{% if agent_sidebar_title %}
		<h5 class="font-weight-bold pt-3">{{ _(agent_sidebar_title) }}</h5>
		{% endif %}
		<ul class="nav nav-list flex-column">
			{%- for item_group in agent_sidebar_item -%}
				{% set item_group_name = item_group.agent_name %}
				{% set item_group_route = item_group.route %}
				<li class="nav-item"><a class="nav-link {% if (item_group_route or '')|abs_url == '/'+path %} active{% endif %} {% if item_group == item_group_name %} active{% endif %}" href="{{ (item_group_route or '')|abs_url }}">{{ _(item_group_name) }} ({{ item_group.item_count }})</a></li>
			{% endfor %}
		</ul>
	</aside>
</div>
{% elif species_sidebar_item %}
<div class="col-lg-3 mt-0">
	<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
		{% include "templates/includes/products_search_form.html" %}
		{% if species_sidebar_title %}
		<h5 class="font-weight-bold pt-3">{{ _(species_sidebar_title) }}</h5>
		{% endif %}
		<ul class="nav nav-list flex-column">
			{%- for item_group in species_sidebar_item -%}
				{% set item_group_name = item_group.species_name %}
				{% set item_group_route = item_group.route %}
				<li class="nav-item"><a class="nav-link {% if (item_group_route or '')|abs_url == '/'+path %} active{% endif %} {% if item_group == item_group_name %} active{% endif %}" href="{{ (item_group_route or '')|abs_url }}">{{ _(item_group_name) }} ({{ item_group.item_count }})</a></li>
			{% endfor %}
		</ul>
	</aside>
</div>
{% else %}
<div class="col-lg-3">
	<aside class="sidebar" id="sidebar" data-plugin-sticky data-plugin-options="{'minWidth': 991, 'containerSelector': '.container', 'padding': {'top': 110}}">
		{% if sidebar_title %}
			<h4 class="font-weight-semibold mb-4 title">{{ _(sidebar_title) }}</h4>
		{% endif %}
		<ul class="nav nav-list flex-column narrow mb-5">
		{% for item in sidebar_items -%}
			<li class="nav-item">
			{% if item.type != 'input' %}
				{% if item.route %}
				<a href="{{ item.route }}" class="nav-link {% if (item.route or '')|abs_url == '/'+path %} active{% endif %}" {% if item.target %}target="{{ item.target }}"{% endif %}>{{ _(item.title or item.label) }}</a>
					{% endif %}
			{% else %}
				<form action='{{ item.route }}' style="margin-right: 15px;">
					<input name='q' class='form-control' type='text' style="outline: none"
						placeholder="{{ _(item.title or item.label) }}">
				</form>
			{% endif %}
			</li>
			{%- endfor %}
			{% if frappe.user != 'Guest' %}
				<li class="nav-item">
					<a href="/me">{{ _("My Account") }}</a>
				</li>
			{% endif %}
		</ul>
	</aside>
</div>
{% endif %}
